<div class="row" *ngIf="ciData">
  <div class="col-sm-6">
    <div class="ci-title">UT执行情况</div>
    <div style="font-size: 1.2em;">
        <div *ngIf="ciData.ut_statstic[0] as _ut_stat ">
        <div *ngIf="ciData.coverage[0] as cov">
        <div *ngIf="ciData.static_check[0] as _static_check">
        <table class="table table-sm">
            <tbody>
                    <tr>
                        <td>UT成功率</td>
                        <td [class]="_ut_stat[5] < 100 ? 'table-danger' : ''">
                            {{_ut_stat[5]}}%
                        </td>
                    </tr>
                    <tr>
                        <td>成功用例数</td>
                        <td>{{_ut_stat[4]}}</td>
                    </tr>
                    <tr>
                        <td>总用例数</td>
                        <td>{{_ut_stat[3]}}</td>
                    </tr>
                    <tr>
                        <td>代码覆盖率</td>
                        <td>{{cov[4]}}%</td>
                    </tr>
                    <tr>
                        <td>静态检查超标个数</td>
                        <td [class]="_static_check[4] > 0 ? 'table-danger' : ''">
                            {{_static_check[4]}}
                        </td>
                    </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
    </div>
    <br>

    <ngb-accordion #acc="ngbAccordion" hidden>
        <ngb-panel id="toggle-1" title="详情">
        <ng-template ngbPanelContent>
            <div class="row" style="max-height:400px;overflow:auto;font-size:10px">
            <table class="table table-sm">
                <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>日期</th>
                    <th>文件名</th>
                    <th>函数名</th>
                    <th>圈复杂度</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let _data of ciData.complexity; let _index=index">
                    <td>{{_index + 1}}</td>
                    <td *ngFor="let _i of [1,2,3,4]" 
                    [class]="_data[4] < 20 ? 'table-warning' : 'table-danger'"
                    >{{_data[_i]}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </ng-template>
        </ngb-panel>
    </ngb-accordion>
  </div>

  <div class="col-sm-6">
    <div class="ci-title">
        多产品集成ST执行情况
    </div>
    <div style="font-size: 1.2em;">
        <div *ngIf="ciData.st_statistic[0] as _st_stat">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>ST成功率</td>
                        <td [class]="_st_stat[5] < 100 ? 'table-danger' : ''">
                            {{_st_stat[5]}}%
                        </td>
                    </tr>
                    <tr>
                        <td>成功用例数</td>
                        <td>{{_st_stat[4]}}</td>
                    </tr>
                    <tr>
                        <td>总用例数</td>
                        <td>{{_st_stat[3]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>

    <div class="ci-title">
        单产品集成ST执行情况
    </div>
    <div style="font-size: 1.2em;">
        <div *ngIf="ciData.st_statistic[1] as _st_stat">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <td>ST成功率</td>
                    <td [class]="_st_stat[5] < 100 ? 'table-danger' : ''">
                        {{_st_stat[5]}}%
                    </td>
                </tr>
                <tr>
                    <td>成功用例数</td>
                    <td>{{_st_stat[4]}}</td>
                </tr>
                <tr>
                    <td>总用例数</td>
                    <td>{{_st_stat[3]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><br>

    <ngb-accordion #acc="ngbAccordion" hidden>
        <ngb-panel id="toggle-1" title="详情">
        <ng-template ngbPanelContent>
            <div class="row" style="max-height:400px;overflow:auto;font-size:10px">
            <table class="table table-sm">
                <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>日期</th>
                    <th>用例编号</th>
                    <th>用例名称</th>
                    <th>测试环境</th>
                    <th>测试结果</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let _data of ciData.st_detail; let _index=index">
                    <td>{{_index + 1}}</td>
                    <td *ngFor="let _i of [2,3,4,5,6]" 
                    [class]="_data[6]=='True' ? 'table-success' : 'table-danger'"
                    >{{_data[_i]}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </ng-template>
        </ngb-panel>
    </ngb-accordion>
  </div>
</div>
