<div class="container" *ngIf="ciData">
  <p>
  <ngb-alert type="info" [dismissible]="false">
    <strong>UT执行情况</strong>
  </ngb-alert>
  </p>

  <div *ngIf="ciData.ut_statstic[0] as ut_stat ">
    <strong>UT成功率:</strong> {{ut_stat[5]}}%
    <strong>成功用例数:</strong> {{ut_stat[4]}} 
    <strong>总用例数:</strong> {{ut_stat[3]}}
  </div>
  <div *ngIf="ciData.coverage[0] as cov">
    <strong>代码覆盖率:</strong> {{cov[4]}}%
  </div>
  <div *ngIf="ciData.static_check[0] as static_check">
    <strong>静态检查超标个数:</strong> {{static_check[4]}}
  </div><br>

  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="详情">
      <ng-template ngbPanelContent>
        <div class="row" style="max-height:400px;overflow:auto;font-size:10px">
          <table class="table table-sm">
            <thead class="thead-default">
              <tr>
                <th>#</th>
                <th>日期</th>
                <th>文件名</th>
                <th>函数名</th>
                <th>圈复杂度</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let _data of ciData.complexity; let _index=index">
                <td>{{_index + 1}}</td>
                <td *ngFor="let _i of [1,2,3,4]" 
                   [class]="_data[4] < 20 ? 'table-warning' : 'table-danger'"
                   >{{_data[_i]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <br>

  <p>
  <ngb-alert type="info" [dismissible]="false">
    <strong>ST执行情况</strong>
  </ngb-alert>
  </p>

  <div *ngIf="ciData.st_statistic[0] as st_stat ">
    <strong>ST成功率:</strong> {{st_stat[5]}}%
    <strong>成功用例数:</strong> {{st_stat[4]}} 
    <strong>总用例数:</strong> {{st_stat[3]}}
  </div><br>

  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="详情">
      <ng-template ngbPanelContent>
        <div class="row" style="max-height:400px;overflow:auto;font-size:10px">
          <table class="table table-sm">
            <thead class="thead-default">
              <tr>
                <th>#</th>
                <th>日期</th>
                <th>用例编号</th>
                <th>用例名称</th>
                <th>测试环境</th>
                <th>测试结果</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let _data of ciData.st_detail; let _index=index">
                <td>{{_index + 1}}</td>
                <td *ngFor="let _i of [2,3,4,5,6]" 
                   [class]="_data[6]=='True' ? 'table-success' : 'table-danger'"
                   >{{_data[_i]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<br>
