<div class="container" style="font-family: Microsoft YaHei">
    <!-- <ngb-carousel> -->
    <!--     <ng-template ngbSlide> -->
    <!--         <app-pipline></app-pipline> -->
    <!--     </ng-template> -->
    <!--     <ng-template ngbSlide> -->
    <!--         <app-ec></app-ec> -->
    <!--     </ng-template> -->
    <!--     <ng-template ngbSlide> -->
    <!--         <app-ci></app-ci> -->
    <!--     </ng-template> -->
    <!-- </ngb-carousel> -->
    <!-- <hr> -->
    <app-pipline></app-pipline>
    <app-ec></app-ec>
    <app-ci></app-ci>
</div>
