<div id="main">
    <header>
        <div id="title">vManager 敏捷看板</div>
        <img id="logo" src="../assets/Logo.png" alt="Logo">
    </header>

    <div id="nav">
        <p [hidden]="(option % 3) !== 0">CI监控</p>
        <p [hidden]="(option % 3) !== 1">EC监控</p>
        <p [hidden]="(option % 3) !== 2">特性分支监控</p>
    </div>

    <div id="content">
        <div [hidden]="(option % 3) !== 0">
            <app-pipline></app-pipline>
            <hr>
            <app-ci></app-ci>
        </div>
        <div [hidden]="(option % 3) !== 1">
            <app-ec></app-ec>
        </div>
        <div [hidden]="(option % 3) !== 2">
            <app-gitbr></app-gitbr>
        </div>
    </div>
</div>
