<div id="main">
    <header>
        <div id="title">vManager 敏捷看板</div>
        <img id="logo" src="../assets/Logo.png" alt="Logo">
    </header>

    <div id="nav">
        <div *ngIf="dynamic">
            <p [hidden]="(option % 3) !== 0">CI监控</p>
            <p [hidden]="(option % 3) !== 1">EC监控</p>
            <p [hidden]="(option % 3) !== 2">特性分支监控</p>
        </div>
        <div *ngIf="!dynamic">
            <p>监控</p>
        </div>
    </div>

    <div id="content">
        <div [hidden]="(option % 3) !== 0 && dynamic">
            <app-pipline></app-pipline>
            <hr>
            <app-ci></app-ci>
            <hr>
        </div>
        <div [hidden]="(option % 3) !== 1 && dynamic">
            <app-ec></app-ec>
            <hr>
        </div>
        <div [hidden]="(option % 3) !== 2 && dynamic">
            <app-gitbr></app-gitbr>
            <hr>
        </div>
    </div>
</div>
