<div *ngIf="ecData">
  <div class="row">
    <div class="col-sm-8" style="display: block">

      <div class="ec-title">待CCB处理</div>
      <canvas baseChart height=110
         [datasets]="barCCBChartData"
         [labels]="barCCBChartLabels"
         [options]="barChartOptions"
         [colors]="barCCBChartColors"
         [legend]="barChartLegend"
         [chartType]="barChartType"
         (chartHover)="chartHovered($event)"
         (chartClick)="chartClicked($event)"></canvas>

      <br><br>

      <div class="ec-title">待开发处理(团队)</div>
      <canvas baseChart height=110
         [datasets]="barTeamChartData"
         [labels]="barTeamChartLabels"
         [options]="barChartOptions"
         [colors]="barTeamChartColors"
         [legend]="barChartLegend"
         [chartType]="barChartType"
         (chartHover)="chartHovered($event)"
         (chartClick)="chartClicked($event)"></canvas>

    </div>
    <div class="col-sm-4" style="max-height:900px;overflow:auto;font-size:10px">
        <div class="ec-title">待开发处理(已超期)</div>
        <table class="table table-sm">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>变更单处理人</th>
                    <th>待处理变更活动数</th>
                    <th>待处理变更研究数</th>
                    <th>待处理总数</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _data of ecData.devinfo; let _index=index">
                    <td>{{_index + 1}}</td>
                    <td *ngFor="let _i of ['变更单处理人','待处理的变更活动单','待处理的变更研究单','待处理总数']">
                        {{_data[_i]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
<br>
