<div *ngIf="ecData">

  <!-- <p> -->
  <!-- <ngb-alert type="info" [dismissible]="false"> -->
  <!--   <strong>待开发处理变更</strong> -->
  <!-- </ngb-alert> -->
  <!-- </p> -->

  <!-- <div> -->
  <!--   <strong>待开发处理变更活动数:</strong> {{ecData.devinfo.stat_c_16523}}<br> -->
  <!--   <strong>待开发处理变量研究数:</strong> {{ecData.devinfo.stat_c_16524}} -->
  <!-- </div><br> -->

  <!-- <ngb-accordion #acc="ngbAccordion"> -->
  <!--   <ngb-panel id="toggle-1" title="详情"> -->
  <!--     <ng-template ngbPanelContent> -->
  <!--       <div class="row" style="max-height:400px;overflow:auto;font-size:10px"> -->
  <!--         <table class="table table-sm"> -->
  <!--           <thead class="thead-default"> -->
  <!--             <tr> -->
  <!--               <th>变更单处理人</th> -->
  <!--               <th>待处理变更活动单</th> -->
  <!--               <th>待处理变更研究单</th> -->
  <!--               <th>待处理总数</th> -->
  <!--             </tr> -->
  <!--           </thead> -->
  <!--           <tbody> -->
  <!--             <tr *ngFor="let _data of ecData.devinfo.rows"> -->
  <!--               <td *ngFor="let _i of ['c_16521','c_16523','c_16524','c_16525']"> -->
  <!--                 {{_data[_i]}} -->
  <!--               </td> -->
  <!--             </tr> -->
  <!--           </tbody> -->
  <!--         </table> -->
  <!--       </div> -->
  <!--     </ng-template> -->
  <!--   </ngb-panel> -->
  <!-- </ngb-accordion> -->

  <!-- <p> -->
  <!-- <ngb-alert type="info" [dismissible]="false"> -->
  <!--   <strong>待CCB处理变更</strong> -->
  <!-- </ngb-alert> -->
  <!-- </p> -->

  <div class="row">
    <div class="col-sm-8" style="display: block">

      <div class="ec-title">待CCB处理</div>
      <canvas baseChart height=110
         [datasets]="barCCBChartData"
         [labels]="barCCBChartLabels"
         [options]="barChartOptions"
         [colors]="barCCBChartColors"
         [legend]="barChartLegend"
         [chartType]="barChartType"
         (chartHover)="chartHovered($event)"
         (chartClick)="chartClicked($event)"></canvas>

      <br><br>

      <div class="ec-title">待开发处理(团队)</div>
      <canvas baseChart height=110
         [datasets]="barTeamChartData"
         [labels]="barTeamChartLabels"
         [options]="barChartOptions"
         [colors]="barTeamChartColors"
         [legend]="barChartLegend"
         [chartType]="barChartType"
         (chartHover)="chartHovered($event)"
         (chartClick)="chartClicked($event)"></canvas>

    </div>
    <div class="col-sm-4" style="max-height:900px;overflow:auto;font-size:10px">
        <div class="ec-title">待开发处理(已超期)</div>
        <table class="table table-sm">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>变更单处理人</th>
                    <th>待处理变更活动数</th>
                    <th>待处理变更研究数</th>
                    <th>待处理总数</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _data of ecData.expireinfo.rows; let _index=index">
                    <td>{{_index + 1}}</td>
                    <td *ngFor="let _i of ['c_16526','c_16528','c_16529','c_16530']">
                        {{_data[_i]}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>


  <!-- <ngb-accordion #acc="ngbAccordion"> -->
  <!--   <ngb-panel id="toggle-1" title="详情"> -->
  <!--     <ng-template ngbPanelContent> -->
  <!--       <div class="row" style="max-height:400px;overflow:auto;font-size:10px"> -->
  <!--         <table class="table table-sm"> -->
  <!--           <thead class="thead-default"> -->
  <!--             <tr> -->
  <!--               <th>状态</th> -->
  <!--               <th>待CCB处理变更请求数</th> -->
  <!--               <th>待CCB处理变更活动数</th> -->
  <!--               <th>待CCB处理变更请求数（已超期）</th> -->
  <!--               <th>待CCB处理变更活动数（已超期）</th> -->
  <!--             </tr> -->
  <!--           </thead> -->
  <!--           <tbody> -->
  <!--             <tr *ngFor="let _data of ecData.ccbinfo.rows"> -->
  <!--               <td *ngFor="let _i of ['c_15772','c_15768','c_15769','c_15770', 'c_15771']"> -->
  <!--                 {{_data[_i]}} -->
  <!--               </td> -->
  <!--             </tr> -->
  <!--           </tbody> -->
  <!--         </table> -->
  <!--       </div> -->
  <!--     </ng-template> -->
  <!--   </ngb-panel> -->
  <!-- </ngb-accordion> -->

</div>
<br>
